
<br /><br />
<br />

<h4>Sve informacije o sistemu, kao i upustvo o korištenju možete dobiti ovdje </h4>

    <a href="~/NewFolder2/Korisničko_uputstvo.pdf" download>
        Uputstvo o korištenju
    </a>
