@{
    ViewBag.Title = "Kontakt";
}
<h3>@ViewBag.Title.</h3>

<address>
    Lejla Džananović<br />
    Azize Šaćirbegović 106<br />
    71 000 Sarajevo<br />
    lejladzananovic.info@gmail.com
</address>

